.Group_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 2433px;
    z-index: 147;
}
.Zaloguj_się {
    font-size: 12px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 1;
    text-align: left;
    position: absolute;
    left: 1235.938px;
    top: 41.992px;
    z-index: 144;
}
.Więcej {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    line-height: 0.75;
    text-align: left;
    position: absolute;
    left: 1020.937px;
    top: 40.546px;
    z-index: 143;
}
.Rezerwacja {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    line-height: 0.75;
    text-align: left;
    position: absolute;
    left: 830.937px;
    top: 43.509px;
    z-index: 142;
}
.Odprawa {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    line-height: 0.75;
    text-align: left;
    position: absolute;
    left: 664.937px;
    top: 41.546px;
    z-index: 141;
}
.Połączenia {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    line-height: 0.75;
    text-align: left;
    position: absolute;
    left: 486.937px;
    top: 42.546px;
    z-index: 140;
}
.Rounded_Rectangle_5 {
    border-radius: 2px;
    background-color: rgb( 255, 255, 255 );
    position: absolute;
    left: 103px;
    top: -667px;
    width: 1237px;
    height: 742px;
    z-index: 139;
}
.Group_2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 2433px;
    z-index: 137;
}
.Poznaj_Nas {
    font-size: 12px;
    font-family: "Lato";
    color: rgb( 0, 0, 102 );
    text-align: left;
    position: absolute;
    left: 149.937px;
    top: 569.992px;
    z-index: 136;
}
.Shape_3 {
    background-color: rgb( 255, 255, 255 );
    position: absolute;
    left: 104px;
    top: 529px;
    width: 37px;
    height: 1px;
    z-index: 135;
}
.Pozwól__by_Nasza_załoga_zatroszczyła_się_o_Twój {
    font-size: 11.905px;
    font-family: "Lato";
    color: rgb( 254, 254, 254 );
    text-align: left;
    -moz-transform: matrix( 1.51201882664848,0,0,1.51201882664848,0,0);
    -webkit-transform: matrix( 1.51201882664848,0,0,1.51201882664848,0,0);
    -ms-transform: matrix( 1.51201882664848,0,0,1.51201882664848,0,0);
    position: absolute;
    left: 190.586px;
    top: 492.329px;
    z-index: 134;
}
.Ludzie_którym_ufasz {
    font-size: 48.818px;
    font-family: "Lato";
    color: rgb( 254, 254, 255 );
    line-height: 0.75;
    text-align: left;
    -moz-transform: matrix( 1.63873431908139,0,0,1.63873431908139,0,0);
    -webkit-transform: matrix( 1.63873431908139,0,0,1.63873431908139,0,0);
    -ms-transform: matrix( 1.63873431908139,0,0,1.63873431908139,0,0);
    position: absolute;
    left: 263.569px;
    top: 439.484px;
    z-index: 133;
}
.Rounded_Rectangle_2_copy_5 {
    border-radius: 1px;
    background-color: rgb( 255, 255, 255 );
    position: absolute;
    left: 105px;
    top: 558px;
    width: 155px;
    height: 36px;
    z-index: 132;
}
.Grupa_1_kopiuj_copy_2_kopiuj {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 2433px;
    z-index: 130;
}
.w_jedną_stronę {
    font-size: 12px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    font-weight: bold;
    line-height: 2.167;
    text-align: left;
    position: absolute;
    left: 1154.938px;
    top: 481.992px;
    z-index: 129;
}
.Do {
    font-size: 12.005px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.6 );
    text-align: left;
    -moz-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -webkit-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -ms-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    position: absolute;
    left: 945.828px;
    top: 297.452px;
    z-index: 128;
}
.z {
    font-size: 12.005px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.6 );
    text-transform: uppercase;
    text-align: left;
    -moz-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -webkit-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -ms-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    position: absolute;
    left: 946.5px;
    top: 219.452px;
    z-index: 127;
}
.Sri_Lanka {
    font-size: 20px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 945.16px;
    top: 316.198px;
    z-index: 126;
}
.Warszawa {
    font-size: 20px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 945.937px;
    top: 238.198px;
    z-index: 125;
}
.Warstwa_5 {
    background-image: url("Warstwa 5.png");
    position: absolute;
    left: 1244px;
    top: 448px;
    width: 38px;
    height: 28px;
    z-index: 124;
}
.Layer_1 {
    background-image: url("Layer 1.png");
    position: absolute;
    left: 1252px;
    top: 449px;
    width: 30px;
    height: 31px;
    z-index: 123;
}
._1 {
    font-size: 24.212px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    text-align: left;
    -moz-transform: matrix( 1.00098340029314,0,0,0.99123964709254,0,0);
    -webkit-transform: matrix( 1.00098340029314,0,0,0.99123964709254,0,0);
    -ms-transform: matrix( 1.00098340029314,0,0,0.99123964709254,0,0);
    position: absolute;
    left: 945.098px;
    top: 397.734px;
    z-index: 117;
}
.Kształt_2_kopiuj_4 {
    border-width: 1.323px;
    border-color: rgb( 0, 22, 103 );
    border-style: solid;
    position: absolute;
    left: 1289px;
    top: 411px;
    width: 11.354px;
    height: 2.354px;
    z-index: 115;
}
.Kształt_2_kopiuj_3 {
    border-width: 1.323px;
    border-color: rgb( 0, 22, 103 );
    border-style: solid;
    position: absolute;
    left: 1289px;
    top: 459px;
    width: 11.354px;
    height: 2.354px;
    z-index: 114;
}
.Pasażerowie {
    font-size: 12px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.6 );
    text-align: left;
    -moz-transform: matrix( 1.00098340029314,0,0,0.99123964709254,0,0);
    -webkit-transform: matrix( 1.00098340029314,0,0,0.99123964709254,0,0);
    -ms-transform: matrix( 1.00098340029314,0,0,0.99123964709254,0,0);
    position: absolute;
    left: 947.298px;
    top: 377.956px;
    z-index: 108;
}
.dorosły {
    font-size: 20.25px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    font-weight: bold;
    text-align: left;
    -moz-transform: matrix( 1.00109859236087,0,0,0.97899916980166,0,0);
    -webkit-transform: matrix( 1.00109859236087,0,0,0.97899916980166,0,0);
    -ms-transform: matrix( 1.00109859236087,0,0,0.97899916980166,0,0);
    position: absolute;
    left: 968.966px;
    top: 401.351px;
    z-index: 107;
}
.Wylot {
    font-size: 12.005px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.6 );
    text-align: left;
    -moz-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -webkit-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -ms-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    position: absolute;
    left: 1157.049px;
    top: 216.705px;
    z-index: 106;
}
.Powrót {
    font-size: 12.005px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.6 );
    text-align: left;
    -moz-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -webkit-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -ms-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    position: absolute;
    left: 1156.08px;
    top: 295.452px;
    z-index: 103;
}
._22_lip_2016 {
    font-size: 20px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    font-weight: bold;
    line-height: 0.6;
    text-align: left;
    position: absolute;
    left: 1154.102px;
    top: 324.85px;
    z-index: 102;
}
._22_lip_2016 {
    font-size: 20px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    font-weight: bold;
    line-height: 0.6;
    text-align: left;
    position: absolute;
    left: 1155.102px;
    top: 246.85px;
    z-index: 101;
}
.Szukaj {
    font-size: 24px;
    font-family: "Lato";
    color: rgb( 254, 254, 254 );
    text-align: left;
    position: absolute;
    left: 1089.274px;
    top: 535.972px;
    z-index: 100;
}
.Rounded_Rectangle_2 {
    border-radius: 2px;
    background-color: rgb( 0, 35, 95 );
    position: absolute;
    left: 1022px;
    top: 520px;
    width: 204px;
    height: 56px;
    z-index: 99;
}
.hotele {
    font-size: 14.006px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.6 );
    text-transform: uppercase;
    text-align: left;
    -moz-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -webkit-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -ms-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    position: absolute;
    left: 1220.132px;
    top: 168.777px;
    z-index: 98;
}
.samochody {
    font-size: 14.006px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.6 );
    text-transform: uppercase;
    text-align: left;
    -moz-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -webkit-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -ms-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    position: absolute;
    left: 1084.529px;
    top: 168.777px;
    z-index: 97;
}
.loty {
    font-size: 14.006px;
    font-family: "Lato";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    text-align: left;
    -moz-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -webkit-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    -ms-transform: matrix( 0.9999600794649,0,0,0.99957490691167,0,0);
    position: absolute;
    left: 983.533px;
    top: 168.777px;
    z-index: 96;
}
.ekonomiczna {
    font-size: 20px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    font-weight: bold;
    line-height: 0.6;
    text-align: left;
    position: absolute;
    left: 1153.88px;
    top: 413.198px;
    z-index: 92;
}
.Klasa_podrózy {
    font-size: 12px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.6 );
    line-height: 1;
    text-align: left;
    position: absolute;
    left: 1153.937px;
    top: 389.894px;
    z-index: 90;
}
.Rounded_Rectangle_4 {
    border-radius: 2px;
    background-color: rgb( 249, 186, 0 );
    position: absolute;
    left: 909px;
    top: 132px;
    width: 431px;
    height: 66px;
    z-index: 88;
}
.Rounded_Rectangle_3_copy {
    border-radius: 2px;
    background-color: rgb( 255, 255, 255 );
    position: absolute;
    left: 909px;
    top: 136px;
    width: 431px;
    height: 473px;
    z-index: 87;
}
.Group_4 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 2433px;
    z-index: 84;
}
.PLN {
    font-size: 16.933px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 3.964;
    text-align: left;
    -moz-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -webkit-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -ms-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    position: absolute;
    left: 969.077px;
    top: 1120.435px;
    z-index: 83;
}
._3290 {
    font-size: 16.933px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 3.964;
    text-align: left;
    -moz-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -webkit-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -ms-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    position: absolute;
    left: 908.003px;
    top: 1119.452px;
    z-index: 82;
}
.New_York {
    font-size: 18px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 3.729;
    text-align: left;
    position: absolute;
    left: 752.844px;
    top: 1120.033px;
    z-index: 81;
}
.PLN {
    font-size: 16.933px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 3.964;
    text-align: left;
    -moz-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -webkit-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -ms-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    position: absolute;
    left: 1289.077px;
    top: 1120.435px;
    z-index: 80;
}
._3290 {
    font-size: 16.933px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 3.964;
    text-align: left;
    -moz-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -webkit-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -ms-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    position: absolute;
    left: 1228.002px;
    top: 1119.452px;
    z-index: 79;
}
.Rio_de_Janeiro {
    font-size: 18px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 3.729;
    text-align: left;
    position: absolute;
    left: 1066.844px;
    top: 1120.015px;
    z-index: 78;
}
.PLN {
    font-size: 16.933px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 3.964;
    text-align: left;
    -moz-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -webkit-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -ms-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    position: absolute;
    left: 653.077px;
    top: 1120.435px;
    z-index: 77;
}
._3290 {
    font-size: 16.933px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 3.964;
    text-align: left;
    -moz-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -webkit-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -ms-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    position: absolute;
    left: 592.003px;
    top: 1119.452px;
    z-index: 76;
}
.Barcedlona {
    font-size: 18px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 3.729;
    text-align: left;
    position: absolute;
    left: 439.844px;
    top: 1119.997px;
    z-index: 75;
}
.PLN {
    font-size: 16.933px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 3.964;
    text-align: left;
    -moz-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -webkit-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -ms-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    position: absolute;
    left: 330.077px;
    top: 1120.435px;
    z-index: 74;
}
._3290 {
    font-size: 16.933px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 3.964;
    text-align: left;
    -moz-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -webkit-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    -ms-transform: matrix( 1.4173106995941,0,0,1.4173106995941,0,0);
    position: absolute;
    left: 270.003px;
    top: 1119.452px;
    z-index: 73;
}
.Dubaj {
    font-size: 18px;
    font-family: "Lato";
    color: rgba( 0, 0, 0, 0.8 );
    line-height: 3.729;
    text-align: left;
    position: absolute;
    left: 127.844px;
    top: 1118.015px;
    z-index: 72;
}
.Rectangle_3_copy_3 {
    background-color: rgb( 235, 235, 235 );
    opacity: 0.2;
    position: absolute;
    left: 1047px;
    top: 1024px;
    width: 299px;
    height: 73px;
    z-index: 67;
}
.Rectangle_3_copy_2 {
    background-color: rgb( 235, 235, 235 );
    opacity: 0.2;
    position: absolute;
    left: 734px;
    top: 1024px;
    width: 297px;
    height: 73px;
    z-index: 66;
}
.Rectangle_3_copy {
    background-color: rgb( 235, 235, 235 );
    opacity: 0.2;
    position: absolute;
    left: 421px;
    top: 1024px;
    width: 297px;
    height: 73px;
    z-index: 65;
}
.Rectangle_3 {
    background-color: rgb( 235, 235, 235 );
    opacity: 0.2;
    position: absolute;
    left: 108px;
    top: 1024px;
    width: 297px;
    height: 73px;
    z-index: 64;
}
.Lufthansa_zabiera_Cię_w_podróż {
    font-size: 30px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    line-height: 2.238;
    text-align: left;
    position: absolute;
    left: 104.844px;
    top: 825.953px;
    z-index: 63;
}
.Group_5_copy {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 2433px;
    z-index: 61;
}
.Sprawdź {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    text-align: left;
    -moz-transform: matrix( 0.99999987694526,0,0,0.9999974734306,0,0);
    -webkit-transform: matrix( 0.99999987694526,0,0,0.9999974734306,0,0);
    -ms-transform: matrix( 0.99999987694526,0,0,0.9999974734306,0,0);
    position: absolute;
    left: 894.028px;
    top: 1636.108px;
    z-index: 53;
}
.Kup_bilet {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 0, 0, 102 );
    text-align: left;
    -moz-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    -webkit-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    -ms-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    position: absolute;
    left: 893.528px;
    top: 1912.108px;
    z-index: 52;
}
.Sprawdź {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 0, 0, 102 );
    text-align: left;
    -moz-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    -webkit-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    -ms-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    position: absolute;
    left: 894.028px;
    top: 1288.108px;
    z-index: 51;
}
.Sprawdź_ {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 0, 0, 102 );
    text-align: left;
    -moz-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    -webkit-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    -ms-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    position: absolute;
    left: 724.028px;
    top: 1312.108px;
    z-index: 50;
}
.Kup_bilet {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 0, 0, 102 );
    text-align: left;
    -moz-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    -webkit-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    -ms-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    position: absolute;
    left: 1183.528px;
    top: 1287.108px;
    z-index: 49;
}
.Subskrybuj {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 0, 0, 102 );
    text-align: left;
    -moz-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    -webkit-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    -ms-transform: matrix( 0.99999993847263,0,0,0.99999804795169,0,0);
    position: absolute;
    left: 1182.509px;
    top: 1903.904px;
    z-index: 48;
}
.PLN {
    font-size: 9.814px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    line-height: 6.84;
    text-align: left;
    -moz-transform: matrix( 2.44545165346529,0,0,2.44545165346531,0,0);
    -webkit-transform: matrix( 2.44545165346529,0,0,2.44545165346531,0,0);
    -ms-transform: matrix( 2.44545165346529,0,0,2.44545165346531,0,0);
    position: absolute;
    left: 1297.827px;
    top: 1468.411px;
    z-index: 47;
}
._766 {
    font-size: 19.628px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    line-height: 3.42;
    text-align: left;
    -moz-transform: matrix( 2.44545165346529,0,0,2.44545165346531,0,0);
    -webkit-transform: matrix( 2.44545165346529,0,0,2.44545165346531,0,0);
    -ms-transform: matrix( 2.44545165346529,0,0,2.44545165346531,0,0);
    position: absolute;
    left: 1207.472px;
    top: 1454.617px;
    z-index: 46;
}
.PLN {
    font-size: 9.814px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    line-height: 6.84;
    text-align: left;
    -moz-transform: matrix( 2.44545165346529,0,0,2.44545165346531,0,0);
    -webkit-transform: matrix( 2.44545165346529,0,0,2.44545165346531,0,0);
    -ms-transform: matrix( 2.44545165346529,0,0,2.44545165346531,0,0);
    position: absolute;
    left: 1040.827px;
    top: 2044.411px;
    z-index: 45;
}
._3290 {
    font-size: 19.628px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    line-height: 3.42;
    text-align: left;
    -moz-transform: matrix( 2.44545165346529,0,0,2.44545165346531,0,0);
    -webkit-transform: matrix( 2.44545165346529,0,0,2.44545165346531,0,0);
    -ms-transform: matrix( 2.44545165346529,0,0,2.44545165346531,0,0);
    position: absolute;
    left: 929.285px;
    top: 2030.696px;
    z-index: 44;
}
.Najcieplejszy_i_najbardziej_słoneczny_zakątek_E {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    text-align: left;
    position: absolute;
    left: 1180.002px;
    top: 1250.546px;
    width: 191px;
    height: 33px;
    z-index: 43;
}
.Wybierzemy_dla_Ciebie_najlepszą_ofertę_ {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    text-align: left;
    position: absolute;
    left: 891.937px;
    top: 1250.546px;
    width: 168px;
    height: 33px;
    z-index: 42;
}
.Malaga {
    font-size: 24px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    line-height: 2.797;
    text-align: left;
    position: absolute;
    left: 1181.844px;
    top: 1276.077px;
    z-index: 41;
}
.Wakacje {
    font-size: 24px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    line-height: 2.797;
    text-align: left;
    position: absolute;
    left: 891.877px;
    top: 1276.073px;
    z-index: 40;
}
.Rectangle_4_copy_9 {
    background-color: rgb( 109, 207, 246 );
    position: absolute;
    left: 1152px;
    top: 1184px;
    width: 288px;
    height: 288px;
    z-index: 39;
}
.Rectangle_4 {
    background-color: rgb( 109, 207, 246 );
    position: absolute;
    left: 1152px;
    top: 1184px;
    width: 288px;
    height: 288px;
    z-index: 37;
}
.Wypróbuj_naszą_wyszukiwarkę_najlepszych_cen_i_s {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    text-align: left;
    position: absolute;
    left: 600.937px;
    top: 1253.546px;
    width: 215px;
    height: 72px;
    z-index: 36;
}
.Wyszukiwarka_cen {
    font-size: 24px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    line-height: 2.797;
    text-align: left;
    position: absolute;
    left: 599.877px;
    top: 1278.073px;
    z-index: 35;
}
.Odludny_skrawek_piasku_zwany_Cancun_w_pobliżu_m {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    text-align: left;
    position: absolute;
    left: 892.002px;
    top: 1827.546px;
    width: 181px;
    height: 69px;
    z-index: 34;
}
.Subskrynuj_nasz_newsletter_aby_otrzymywać_infor {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    text-align: left;
    position: absolute;
    left: 1180.162px;
    top: 1826.546px;
    width: 202px;
    height: 72px;
    z-index: 33;
}
.Newsletter {
    font-size: 24px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    line-height: 2.797;
    text-align: left;
    position: absolute;
    left: 1178.937px;
    top: 1853.097px;
    z-index: 32;
}
.Cancun {
    font-size: 24px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    line-height: 2.797;
    text-align: left;
    position: absolute;
    left: 891.937px;
    top: 1853.109px;
    z-index: 31;
}
.Rectangle_4_copy_5 {
    background-color: rgb( 109, 207, 246 );
    position: absolute;
    left: 864px;
    top: 1184px;
    width: 288px;
    height: 150px;
    z-index: 30;
}
.Rectangle_4_copy_4 {
    background-color: rgb( 109, 207, 246 );
    position: absolute;
    left: 864px;
    top: 1760px;
    width: 288px;
    height: 229px;
    z-index: 29;
}
.Pobierz_aplikację {
    font-size: 24px;
    font-family: "Lato";
    color: rgb( 109, 207, 246 );
    font-weight: bold;
    line-height: 0.5;
    text-align: left;
    position: absolute;
    left: 890.937px;
    top: 1508.952px;
    z-index: 25;
}
.Oprócz_serwisów_i_informacji_związanych_z_Twoim {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 109, 207, 246 );
    text-align: left;
    position: absolute;
    left: 891.937px;
    top: 1536.546px;
    width: 420px;
    height: 91px;
    z-index: 24;
}
.Rectangle_4_copy_8 {
    background-color: rgb( 255, 255, 255 );
    position: absolute;
    left: 1152px;
    top: 1472px;
    width: 288px;
    height: 288px;
    z-index: 23;
}
.Rectangle_4_copy_2 {
    background-color: rgb( 109, 207, 246 );
    position: absolute;
    left: 576px;
    top: 1184px;
    width: 288px;
    height: 288px;
    z-index: 22;
}
.Rectangle_4_copy {
    background-color: rgb( 109, 207, 246 );
    position: absolute;
    left: 1152px;
    top: 1760px;
    width: 288px;
    height: 288px;
    z-index: 21;
}
.Rectangle_4_copy_3 {
    background-color: rgb( 255, 255, 255 );
    position: absolute;
    left: 576px;
    top: 1184px;
    width: 288px;
    height: 288px;
    z-index: 20;
}
.Rectangle_4_copy_6 {
    background-color: rgb( 109, 207, 246 );
    position: absolute;
    left: 0px;
    top: 1184px;
    width: 576px;
    height: 288px;
    z-index: 19;
}
.Świat_Lufthansy_dla_Ciebie {
    font-size: 30px;
    font-family: "Lato";
    color: rgb( 0, 35, 95 );
    line-height: 2.238;
    text-align: left;
    position: absolute;
    left: 99.264px;
    top: 1192.952px;
    z-index: 17;
}
.Group_3 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 2433px;
    z-index: 15;
}
.Layer_10 {
    background-image: url("Layer 10.png");
    position: absolute;
    left: 901px;
    top: 2148px;
    width: 26px;
    height: 26px;
    z-index: 13;
}
.Layer_11 {
    background-image: url("Layer 11.png");
    position: absolute;
    left: 869px;
    top: 2148px;
    width: 26px;
    height: 26px;
    z-index: 12;
}
.Przydatne_informacje:_ {
    font-size: 16px;
    font-family: "Lato";
    color: rgb( 249, 186, 0 );
    text-align: left;
    position: absolute;
    left: 244.937px;
    top: 2247.546px;
    z-index: 11;
}
.Spotkania_i_konferencje_Saloniki_Executive_Star {
    font-size: 12px;
    font-family: "Lato";
    color: rgb( 171, 168, 168 );
    line-height: 3;
    text-align: left;
    position: absolute;
    left: 1037.105px;
    top: 2335.992px;
    z-index: 10;
}
.LOT_dla_Firm_LOT_Charters_LOT_Cargo {
    font-size: 12px;
    font-family: "Lato";
    color: rgb( 171, 168, 168 );
    line-height: 3;
    text-align: left;
    position: absolute;
    left: 880.937px;
    top: 2335.992px;
    z-index: 9;
}
.Samochód_Atrakcje_turystyczne_LOT_Travel {
    font-size: 12px;
    font-family: "Lato";
    color: rgb( 171, 168, 168 );
    line-height: 3;
    text-align: left;
    position: absolute;
    left: 654.882px;
    top: 2335.992px;
    z-index: 8;
}
.Miles___More_Bagaż_Sklep_LOT {
    font-size: 12px;
    font-family: "Lato";
    color: rgb( 171, 168, 168 );
    line-height: 3;
    text-align: left;
    position: absolute;
    left: 465.105px;
    top: 2335.992px;
    z-index: 7;
}
.Aktualne_promocje_Siatka_połączeń_Zarezerwuj_lo {
    font-size: 12px;
    font-family: "Lato";
    color: rgb( 171, 168, 168 );
    line-height: 3;
    text-align: left;
    position: absolute;
    left: 242.938px;
    top: 2335.992px;
    z-index: 6;
}
.Warstwa_6 {
    background-image: url("Warstwa 6.png");
    opacity: 0.831;
    position: absolute;
    left: 0px;
    top: 2105px;
    width: 1440px;
    height: 328px;
    z-index: 5;
}
