html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Lato, sans-serif; }

.plane {
  background-image: url("../img/plane_jumbotron.png");
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1; }

.navbar-header {
  background-color: white; }

.navbar-default {
  background: none;
  border: none; }

.navbar-brand {
  padding: 3px 15px; }

.navbar-brand > img {
  padding: 0 15px 0 15px; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #fff; }

.nav > li > a > img {
  padding: 0 10px 0 20px; }

.container .jumbotron {
  background: none;
  color: #fff;
  margin-top: 25%; }

.btn-group-lg > .btn, .btn-lg {
  border-radius: 0;
  background-color: #fff;
  color: #00235F; }

.promo-cities {
  margin-top: 1%; }

.promo-cities .container h2 {
  margin-bottom: 1%;
  margin-top: 3%; }

.promo-cities .caption span {
  font-weight: 800;
  float: right; }

.promo-cities .img-thumbnail {
  height: 137px;
  padding: 0;
  border-radius: 0;
  width: 100%; }

.promo-cities .world {
  padding: 0;
  margin: 0; }

section.promo-cities.world {
  margin: auto;
  max-width: 1440px; }

.promo-cities .world .img-thumbnail, figure.col-lg-12.col-md-3.col-sm-4.col-xs-6, figure.col-lg-2.col-md-3.col-sm-4.col-xs-6, figure.col-lg-6.col-md-3.col-sm-4.col-xs-6 {
  height: 288px;
  background-color: #fff;
  border: 0; }

figure.col-lg-2.col-md-3.col-sm-4.col-xs-6, figure.col-lg-6.col-md-3.col-sm-4.col-xs-6 {
  background-color: #6dcff6; }

.responsive img-thumbnail {
  width: 100%; }

.promo-cities .world .row figure {
  padding: 0;
  margin: 0; }

figcaption {
  text-align: justify;
  color: white;
  display: block;
  float: left;
  position: absolute;
  top: 0;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0); }

figcaption.application {
  color: #6dcff6; }

img.img-responsive.img-thumbnail.dubai, figure.col-lg-6.col-md-3.col-sm-4.col-xs-6.dubai {
  height: 576px; }

figcaption > h3, p {
  margin: 5px; }

footer {
  margin-top: 50px;
  background-image: url("../img/background_footer.png");
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
  margin-left: auto;
  max-width: 1440px;
  background-color: #284475;
  /* The color you want the icon to change to */
  background-blend-mode: multiply; }

.footer > img {
  margin-top: 35px;
  margin-bottom: 45px; }

.links > h4 {
  margin-top: 35px;
  margin-bottom: 45px;
  color: #F9BA00; }

.links > a {
  color: #ffffff;
  margin-bottom: 30px; }

.links > a:hover {
  color: #777;
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
